<div style="background-color:gainsboro;padding:7px">
    <div style="text-align:center"><img src="~/IMG/NoImageAvailable.jpg" height="200" style="margin-top:7px"/> </div>
    <p><h3> Standardowa formatka</h3> </p>
    <p>NP cena lub krotki opis, Wszystkie ogloszenia bede mogly korzystac z tej samej formatki</p>
</div>
