
@{
    ViewBag.Title = "Advertisment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color:#eeeeee">
    <h3 style="text-align:left;padding:12px">Kategoria głowna -> Podkategoria -> Podkategoria</h3>
</div>

<h2 style="padding:10px">Tytuł ogłoszenia</h2>

<div class="row" style="background-color:white">

    <div class="col-md-10">
        <div class="jumbotron">
            <h2>Opis</h2>
            <p class="jumbotron p" style="text-align:justify">
                "Madonna śród skał" to jeden z wielu najbardziej znanych obrazów żyjącego w latach 1452-1519 włoskiego malarza, rzeźbiarza, architekta i inżyniera- Leonarda da Vinci. Tworzył on obrazy o tematyce biblijnej, malował portrety.
                W centralnej części dzieła znajduje się Madonna ubrana w czarną suknię, przy niej są dwaj mali, nadzy chłopcy. Jeden z nich się modli. Obok Madonny jest młoda kobieta. Na tym obrazie przed głównymi postaciami i za nimi widać roślinność, która rośnie na skałach. Na dole widać ciemna otchłań, co sprawia wrażenie jakby osoby na obrazie siedział na krawędzi urwiska. W tle widać wznoszące się skały.
                Na obrazie dominują kolory ciemne, głownie czarne. Jedynie ciała postaci są jasne, czerwony płaszcz kobiety siedzącej przy Madonnie i rozmyte promienie słońca w dali, za skałami. Skały i roślinność mają szary, przerażający kolor.
                Na obrazie "Madonna wśród skał" panuje smutna atmosfera. Madonna jest przygnębiona, być może po stracie swojego syna Jezusa. O jej żałobie świadczyć może czarną suknia, w którą jest ubrana.
                Obraz Leonarda da Vinci "Madonna wśród skał" został namalowany farbami olejnymi na desce. Znajduje się w muzeum w Luwrze, w Paryżu.
            </p>
        </div>
    </div>
    <div class="col-md-2" style="background-color:#eeeeee;height:auto">
                <h3>Cena</h3>
                <p>
                    1500 zł
                </p>


            <h3>Uzytkownik</h3>
            <p>
                Jan
            </p>
            <h3>Miejscowość</h3>
            <p>
                Białystok
            </p>
            <h3>Data wystawienia</h3>
            <p>
                05.11.2016
            </p>
            <h3>Kontakt</h3>
            <p>
                kowalski@jan.pl
            </p>
        
    </div>
</div>

<div class="jumbotron">
    <h2>Galeria</h2>
    <div style="text-align:center">
        <img src="~/IMG/NoImageAvailable.jpg" style="margin:5px; text-align:center ;width:600px" id="img1" />
        <img src="~/IMG/NoImageAvailable.jpg" style="margin:5px;text-align:center ;width:600px" id="img2" />
        <img src="~/IMG/NoImageAvailable.jpg" style="margin:5px;text-align:center ;width:600px" id="img3" />
        <img src="~/IMG/NoImageAvailable.jpg" style="margin:5px;text-align:center ;width:600px" id="img4" />
        <img src="~/IMG/NoImageAvailable.jpg" style="margin:5px;text-align:center ;width:600px" id="img5" />
    </div>
</div>



